$brand-color: #33E2D1
$sec-color: #F96A69
$lightgrey: #F0F0F3
$bright-color: yellow
$dark: #00001E

body
  &.no-scroll
    overflow: hidden
  &::-webkit-scrollbar-track
    background-color: #000
  &::-webkit-scrollbar
    width: 5px
    background-color: #fff
  &::-webkit-scrollbar-thumb
    background-color: rgba(255, 255, 255, 1)
