@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700');

html {
  font-size: 100%;
}

body {
  font-family: 'avenir', 'montserrat', 'Open Sans', sans-serif;
  font-size: 100%;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

.page-title {
  font-size: 2.5em;
}

.title-margin {
  margin-bottom: 0.5em;
}

.display {
  font-family: Rubik-Black
}

h1,
.alpha,
h2,
.beta,
h3,
.gamma,
h4,
.delta,
h5,
.epsilon,
h6,
.zeta {
  line-height: 1.4;
  font-weight: 600;
}

h1,
.alpha {
  font-size: 1.75em;
  line-height: 1.4;
}

h1 {
  font-weight: 700;
}

h2,
.beta {
  font-size: 1.3125em;
}

h3,
.gamma {
  font-size: 1.4875em;
}

h4,
.delta {
  font-size: 1.2875em;
}

h5,
.epsilon {
  font-size: 1.0875em;
}

h6,
.zeta {
  font-size: 0.875em;
}

p,
blockquote {
  hyphens: none;
}


p {
  line-height: 1.7375em;
  margin-bottom: 1em;
  font-size: 1.125em;
}

p.intro {
  font-weight: 600
}

dd,
dt,
li {
  line-height: 1.6em;
  margin: 0;
}

a {
  opacity: 1;
  text-decoration: none;
  transition: opacity 0.3s ease-in-out;
  color: #0000FF;
  letter-spacing: 0;
  font-weight: 600
}


strong {
  font-weight: 700;
}
